<%- include('partials/header.ejs') %>
<form action="/show/<%= item._id %>/comments" method="post">
    <div class="container">
    <!-- <div class="mb-3">
      <label class="form-label">Author</label>
      <input type="text" class="form-control" name="comment[author]" placeholder="Username">
    </div>
    <div class="mb-3"> -->
      <label class="form-label">Comment</label>
      <input type="text" class="form-control" name="comment[text]" placeholder="Comment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/">Go back</a>
    </div>
  </form>
<%- include('partials/footer.ejs') %>