<%- include('partials/header/Admin.ejs') %>

<div class="block">
  <div class="underline">
    <h1>All Page</h1>
  </div>
  <div class="overflowY flex-warp row">
      <div>
        <h3>Admin</h3>
        <div class="row">
          <i class='bx bx-x'></i><a href="/">Home</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/admin/user">All User</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/admin/product">Product</a>
        </div>
      </div>
      <div style="margin-left: 5rem;">
        <h3>User</h3>
        <div class="row">
          <i class='bx bx-x'></i><a href="/cart">Cart</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/user/profile">Profile</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/user/history">History</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/user/Favorite">Favorite</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/seller">Seller</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/show">Show</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/transaction">Transaction</a>
        </div>
      </div>
      <div style="margin-left: 5rem;">
        <h3>Public</h3>
        <div class="row">
          <i class='bx bx-x'></i><a href="/">Home</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/login">Login</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/signup">Register</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/search">Search</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/darkmode">Darkmode</a>
        </div>
        <div class="row">
          <i class='bx bx-x'></i><a href="/sell">Sell</a>
        </div>
        <div style="position: fixed; right:12rem; bottom:21rem;">
          <p style="color: red;">* ไม่รวมพวกหน้า add edit view</p>
        </div>
      </div>
  </div>
</div>



<%- include('partials/footer/Main2.ejs') %>