<%- include('partials/header/world.ejs') %>

<div class="block">
  <div class="underline">
    <h1>Add New Product</h1>
  </div>
  <form action="/seller" method="post" enctype="multipart/form-data">
  <div class="row">
    <div style="margin-left: 5rem;">
    <img src='/picture/main/box.png' id='output' style='height: 300px; width: 250px; object-fit:contain;'>
    <div class='fileUpload' style="float:left; top:28rem; left:21rem; position:absolute;">
      <input type="file" class="form-control upload" onchange="loadFile(event)" name="image" placeholder="Image" accept="image/*" required>
      <label for="file" class="btn-3">
        <span>Upload Image</span>
      </label>
    </div>
    </div>
    <div style="padding:3rem 0 0 2rem;">
      <div class="row"> 
        <div>
          <label >Name</label>
          <input type="text" class="form-control" name="item[name]" required>
        </div>
        <div>
          <label class=" ">Category</label>
          <input type="text" class="form-control" name="item[category]" required>
        </div>
      </div>
      <div class="row">
        <div>
          <label >Price</label>
          <input type="number" class="form-control remove-arrow" name="item[price]" required>
        </div>
        <div>
          <label >Stock</label>
          <input type="number" class="form-control remove-arrow" name="item[stock]" required>
        </div>
      </div>
      <!-- <div>
        <label class=" ">Category</label>
        <input type="text" class="form-control remove-arrow" name="item[category]" required>
      </div> -->
      <div>
        <label class=" ">Description</label>
        <textarea type="text" class="form-control" style="position: relative;top: 1.5rem;" name="item[desc]" required></textarea>
      </div>
      <div style="float: right;">
        <a style="color: red;" href="/seller">cancel</a>
        <button type="submit">Submit</button>
      </div>
    </div>
  </div>
  </form>

</div>





<%- include('partials/footer/Main2.ejs') %>