<%- include("partials/header/sell.ejs") %>
    <div class="topLine">
        <p class="topText">Sell on Baby Shop</p>
        <button class="topButton" onclick="myFunction()">Detail</button>
    </div>

    <div class="wrapper">
      <div class="box a">
        <p class="mainHead">Become an<br>Baby Shop <span class="textdecor">seller</span></p>
        <br>
        <p class="mainInfo">More than half the units sold in our stores are from independent sellers</p>
        <div>
          <a href="/signup"><button class="buttonSignup" href="#">SIGN UP</button></a>
          <a href="/seller/new"><button class="buttonSignin">SELL</button></a>
          
        </div>
        <p class="text">selling fee 100฿</p>
      </div>
      
      <div class="box b">
        <img class="mainLogo" src="/picture/main/logo.png">
      </div>
    </div>
