
    <button id="btnScrollToTop">
        <i class='bx bx-up-arrow-alt' style="font-size: 30px;"></i>
    </button>

    <table class="maintable">
        <tr>
            <th><h2>Contact us</h2></th>
            <th><h2>Payment</h2></th>
            <th><h2>Delivery</h2></th>
            <th><h2>Country & Region</h2></th>
        </tr>
        <tr>
            <br>
            <td style="position: relative; left: 8rem;">
                <i class='bx bxl-twitter foot' style="color: rgb(0, 224, 253);"></i>
                <span> 081-805-8879</span>
            </td>
            <td>
                <table>
                    <br>
                    <tr>
                        <td>
                            <i class='bx bxl-visa foot icon1' ></i>
                        </td>
                        <td>
                            <i class='bx bxl-mastercard foot icon2' ></i>
                        </td>
                        <td>
                            <i class='bx bx-money foot icon3'></i>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <br>
                    <tr>
                        <td>
                            <img style="width: 2rem; position: relative; left: 5rem;" src="/picture/main/Line.png">
                        </td>
                        <td>
                            <img style="width: 2rem; position: relative; left: 7rem;" src="/picture/main/Panda.png">
                        </td>
                        <td>
                            <img style="width: 2rem; position: relative; left: 9rem;" src="/picture/main/Grab.png">
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <br>
                <img style="width: 2rem; position: relative; left: 12rem;" src="/picture/main/ThaiFlag.png">
            </td>
        </tr>
        <tr>
            <td style="position: relative; left: 8rem;">
                <i class='bx bxs-phone-call foot' style="color:green"></i>
                <span> 081-805-8878</span>
            </td>
        </tr>
        <tr>
            <td style="position: relative; left: 8rem;">
                <i class='bx bxl-instagram foot ' ></i>
                <span>babyshop.co</span>
            </td>
        </tr>
    </table>


</body>
</html>
