@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
}
/* block_element */
header {
  width: 100vw;
  height: 6rem;
}
body {
  width: 100%;
  height: 130rem;
  background: linear-gradient(rgba(113, 224, 228, 0.5), rgba(255, 255, 255, 1));
}
a {
  text-decoration: none;
  color: black;
}
/* header */
.navbar__search {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__search--design {
  background-color: #969494;
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar__search .logo {
  width: 4rem;
  padding: 0 1rem;
}
.navbar__search .logo:hover,
#logotext:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/* searchbar */
.container__searchbar {
  width: 9rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  left: 2%;
}
.container__searchbar--design {
  background: white;
}
.container__searchbar .icon {
  position: absolute;
  left: 1.3rem;
  top: 55%;
  transform: translate(-50%, -50%);
}

.container__searchbar .icon .search {
  font-size: 1.5rem;
  cursor: pointer;
  color: #444;
}

.container__searchbar.active {
  width: 90rem;
}

.container__searchbar .input {
  position: relative;
  width: 30rem;
  height: 3rem;
  left: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container__searchbar .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  outline: none;
}

.container__searchbar .input .clear {
  position: absolute;
  right: -57rem;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 2rem;
  color: #888;
}

/* icon */
.icon__cart {
  position: absolute;
  right:2rem;
}
.icon__cart:hover {
  color: white;
  padding: 0.5rem;
  border: 0.1rem white solid;
  border-radius: 50%;
}
.icon__mute {
  position: absolute;
  right:8rem;
}
.icon__mute:hover {
  color: white;
  padding: 0.5rem;
  border: 0.1rem white solid;
  border-radius: 50%;
}
.icon__noti {
  position: absolute;
  right:5rem;
}
.icon__noti:hover {
  color: white;
  padding: 0.5rem;
  border: 0.1rem white solid;
  border-radius: 50%;
}
.navbar__list {
  width: 100vw;
  height: 2.2rem;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.button__all {
  width: 3.5rem;
  text-align: center;
}
.button__all:hover {
  color: white;
  padding: 0.25rem;
  border: 0.1rem white solid;
}
.icon__list {
  position: relative;
  font-size: 1.5rem;
}
.text__list {
  position: relative;
  font-size: 1rem;
  top: -0.3rem;
}
.save__button {
  width: 3rem;
  text-align: center;
}
.save__button:hover {
  color: white;
  padding: 0.25rem;
  border: 0.1rem white solid;
}
.sell__button {
  width: 3rem;
  text-align: center;
}
.sell__button:hover {
  color: white;
  padding: 0.25rem;
  border: 0.1rem white solid;
}
.signin__button {
  position: absolute;
  right: 5.95rem;
  padding-right: 0.5rem;
}
.signin__button:hover {
  color: white;
  padding: 0.25rem;
  border: 0.1rem white solid;
}
.signin__button2 {
  position: absolute;
  right: 6.5rem;
  padding-left: 1rem;
}
.signin__button2:hover {
  color: white;
}
.signin__button3 {
  position: absolute;
  right: 7rem;
  padding-right: 1rem;
}
.signin__button3:hover {
  color: white;
}
.signup__button {
  position: absolute;
  right: 2.5rem;
  border-left: black 0.1rem solid;
  padding-left: 0.5rem;
}
.signup__button:hover {
  color: white;
  padding: 0.25rem;
  border: 0.1rem white solid;
}
.signup__button2 {
  position: absolute;
  text-align: center;
  right: 2rem;
  border-left: black 0.1rem solid;
  padding-left: 1rem;
}
.signup__button2:hover {
  color: white;
}
.background {
  position: relative;
  width: 100vw;
  height: 100%;
}
.video-background {
  position: fixed;
}
#space {
  width: 100%;
  height: 2000px;
}

/* sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(113, 224, 228,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* slidebar */
/* Slideshow container */
.slideshow-container {
  width: 50rem;
  height: 19.5rem;
  background-color: rgba(113, 192, 228, 0.7);
  margin-left: 10rem;
  margin-top: 2rem;
  border-radius: 1rem;
  border-width: 0.5rem;
  border-color: #13338b;
  border-style: dotted;
  object-fit: fill;
}
.mySlides{
  position: relative;
  top:2rem;
  left:8rem;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top:40%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: blue;
  font-size: 1.5rem;
  position: relative;
  left:-5rem;
  background-color: white;
  width: 4rem;
  text-align: center;
  border-radius: 1rem;
}

/* The dots/bullets/indicators */
.setdot{
  position: absolute;
  left:33.5rem;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(0, 174, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activee {
  background-color: #13338b;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* timer */
.timer{
  position: absolute;
  width: 40rem;
  height: 20rem;
  background-color:rgba(113, 220, 228, 0.7);
  margin-left: 70rem;
  margin-top: -21.5rem;
  border-radius: 1rem;
  text-align: center;
  --border-width: 3px;
  border-radius: var(--border-width);
}

#demo{
  margin-top: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/* featured & recommended */
.feature{
  width: 90%;
  height: 5rem;
  margin: auto;
  background-color: rgba(96, 187, 190, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 0.4rem;
  border-color: #2696E8;
  border-style: double;
  position: relative;
  margin-top: 2rem;
}
.featureText{
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 3rem;
}
.bx-chevrons-right{
  position: relative;
  right: -55rem;
  font-size: 3rem;
}

/* SPECIAL OFFERS */
.sp-container{
  width: 100%;
  height: 12rem;
  margin-top: 2rem;
}
.sp-text{
  margin-left: 10rem;
}
.sp-block{
  width: 95%;
  height: 26rem;
  background-color: rgba(134, 221, 224, 0.5);
  margin: auto;
  border: 0.2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5rem;
}
.card{
  width:25rem;
  height: 18rem;
  background-color: rgba(94, 123, 219,0.4);
  margin: auto;
  margin-top: 2rem;
  border-width: 0.5rem;
  border-style: dashed;
  border-radius: 0.5rem;
  border-color: white;
  text-align: center;
  padding-top: 2rem;
}
.showdetailS{
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 255, 255,0.8);
}
.nameS{
  float: left;
  left: 1rem;
  position: absolute;
  font-size: 2rem;
}
.discount{
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  font-size: 3rem;
  position: relative;
  float: right;
  top:-13rem;
  right: 2rem;
  
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 81, 0),
      0 0 80px rgb(255, 81, 0),
      0 0 90px rgb(255, 81, 0),
      0 0 100px rgb(255, 81, 0),
      0 0 150px rgb(255, 81, 0);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
.strikethrough{
  position: relative;
  color: red;
  font-size: 1rem;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
.normalpriceS{
  position: absolute;
  float: right;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}
.sp-link{
  position: relative;
  z-index: 2;
  float: right;
  top:-2rem;
  right: 5rem;
}

/* All item */
.all{
  display: grid;
  grid-template-columns: auto auto auto;
  gap:1rem;
  margin-top: 20rem;
  padding-top: 1rem;
}
.cardAll{
  width:25rem;
  height: 18rem;
  background-color: rgba(94, 123, 219,0.4);
  margin: auto;
  margin-top: 2rem;
  border-width: 0.5rem;
  border-style:groove;
  border-radius: 0.5rem;
  border-color: white;
}
.showdetail{
  position: relative;
  top:-1rem;
  width: 100%;
  height: 4rem;
  background-color: rgba(255, 255, 255,0.8);
}
.title{
  position: relative;
  top:-3.5rem;
  left: -1rem;
}
.linkall{
  position: relative;
  top:1rem;
}




/* background */
.fa-snowflake-o {
  animation: fall 10s linear forwards;
  color: white;
  position: absolute;
  top: -20px;
  z-index: -1;
}

@keyframes fall {
  to {
    transform: translateY(98vh);
  }
}

.navbar__list {
  width: 100vw;
  height: 2.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 0.3rem dotted rgba(102, 220, 224, 0.5);
  background-color: rgba(115, 247, 252, 0.5);
}

.navbar__search--design {
  background-color: rgba(84, 246, 252, 0.5);
  border: 0.2rem solid rgb(84, 222, 222);
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

/* animate */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* background popup */
.popup-screen{
  z-index: 999999;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active{
  visibility: visible;
}

.popup-box{
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
  z-index: 3;
}

.popup-screen.active .popup-box{
  transform: scale(1);
}

.popup-box h2{
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 20px;
}

.popup-box p{
  font-size: 1em;
  margin-bottom: 30px;
}

.popup-box .btn{
  color: #fff;
  background: red;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 27px;
  border-radius: 3px;
}

.close-btn{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn:hover{
  opacity: 1;
}

@media (max-width: 990px){
  section{
    padding: 50px 30px;
  }

  .home{
    display: block;
  }

  .image{
    width: 100%;
  }

  .info{
    width: 100%;
    margin-top: 15px;
  }
}

/* animate */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* click to up */
#btnScrollToTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:rgb(7, 105, 235);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToTop:active{
  background:rgb(4, 85, 190)
} 





/* footer */
.maintable{
  border-top: 0.1rem rgb(214, 213, 213)  solid;
  width: 100%;
  height: 5rem;
  background-color: white;
  position: relative;
  margin-top: 3rem;
  bottom: 0;
  z-index: -1;
}
.foot{
  font-size: 2rem;
}
.icon1{
  position: relative;
  left:9rem;
}
.icon2{
  position: relative;
  left:5rem;
}
.icon3{
  position: relative;
  left:7rem;
}

.index-image{
  object-fit: cover;
  width: 5rem;
}


.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

#myimage{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myimage:hover {opacity: 0.7;}

/* alert */
.alert{
  width: 100%;
  z-index: 2;
  font-size: 2rem;
  position: fixed;
}
.alert-danger{
  background-color: rgb(255, 137, 137);
  color: rgb(255, 0, 0);
}
.alert-success{
  background-color: rgb(213, 255, 179);
  color: rgb(0, 255, 21);
}

.flashx{
  border: none;
  background-color:none;
  float: right;
  font-size: 1rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}